doctype 5
html(lang='en')
  head
    title Erlang OpenID 2.0 example
  body
    h1 Erlang OpenID 2.0 example
    form(method='post')
      legend Login with OpenID:
      label Identity:
        input(name='openid_identity',type='text',required='true')
      label
        input(type='submit')
    p Your <b>_before</b> is: #{_before}
    p Your submitted <b>identity</b> is: #{identity}
    p Your <b>authentication URI</b> is:
      a(href=auth_uri) #{auth_uri}
